<table class='table table-striped table-condensed table-hover'>
  <tr>
    <th class='col-md-1'>Code</th>
    <th class='col-md-3'>Intitulé</th>
    <th class='col-md-4'>Description</th>
    <th class='col-md-1'>Référent</th>
    <th class='col-md-1'>Archive</th>
    <th class='col-md-1'></th>
  </tr>
  <tr>
    <form action="?view=admin&action=addAction" method="post">
      <td><input class="form-control" type='text' name='code' patern='[0-9][0-9][0-9]' placeholder='Code' maxlength='3' minlength='1' required /></td>
      <td><input class="form-control" type='text' name='title' placeholder='Intitulé' required /></td>
      <td><input class="form-control" type='text' name='description' placeholder='description' /></td>
      <td><input class="form-control" type='text' name='referent' placeholder='Référent' required /></td>
      <td><input class="form-control" type='checkbox' name='archive' value='1' /></td>
      <td class='text-right'><button class='btn btn-success' type='submit'><span class="glyphicon glyphicon-plus" aria-hidden="true"></button></td>
    </form>
  </tr>
  {% for code,action in actions %}
  <tr>
    <td>{{ code }}</td>
    <td>{{ action.Intitulé }}</td>
    <td>{{ action.Description }}</td>
    <td>{{ action.Referent }}</td>
    <td class='text-center'>
      <a class='btn btn-xs btn-primary' href='?view=admin&action=switchAction&code={{ code }}'>
        {% if action.Visible == 1 %}<span class="glyphicon glyphicon-eye-open" aria-hidden="true">
        {% else %}<span class="glyphicon glyphicon-eye-close" aria-hidden="true">
        {% endif %}
      </a>
    </td>
    <td class='text-right'>
      <a class='btn btn-xs btn-danger' href='?view=admin&action=delAction&code={{ code }}'>
        <span class="glyphicon glyphicon-trash" aria-hidden="true">
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
