<form method="post" action="index.php?view=csvRealised" class="form-horizontal span5">

  <div class="form-group">
    <label class="control-label col-sm-3" for="ics">Calendrier(s)</label>
    <div class="col-sm-5">
      <select name='ics[]' size='10' multiple='multiple' class="form-control">
        {% for name, path in calendars %}
          <option id='{{ name }}' name='ics' value='{{ name }}'>{{ name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-3" for="action">Action(s)</label>
    <div class="col-sm-5">
      <select name="codes[]" size=5 multiple="multiple" class="form-control">
        <option value="Tous" selected="selected">Tous</option>
        {% for code, action in actions %}
          <option name='codes' value='{{ code }}'>[{{ code }}]
            {{ action.Intitulé }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-3" for="startDate">Date de début</label>
    <div class="col-sm-5">
      <input id='startDate' type='text' class="form-control" name="startDate" value="{{ now|date("d-m-Y") }}" required />
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-3" for="endDate">Date de fin</label>
    <div class="col-sm-5">
      <input id='endDate' type='text' class="form-control" name="endDate" value="{{ now|date("d-m-Y") }}" required />
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-3" for="export">Date de fin</label>
    <div class="col-sm-5">
      <select name="export" class="form-control">
        <option value="All">Total</option>
        <option value="day">Par jours</option>
        <option value="week">Par semaines</option>
        <option value="month">Par mois</option>
        <option value="year">Par ans</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-3"></div>
    <div class="col-sm-5">
      <button id="showresults" class="btn btn-primary" formaction='?view=Statistics' type="submit" name="action" value="Show">
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Afficher
      </button>
      <button id="export" class="btn btn-info control-button" formaction='?view=csvStatistics' type="submit" name="action" value="Export">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> Exporter
      </button>
    </div>
  </div>

</form>
